.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('./altrix.png') center center/cover no-repeat;
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}

.section-spacing {
  margin-top: 80px;
}
@media (max-width: 1000px) {
  .section-spacing {
    margin-top: 64px;
  }
}
@media (max-width: 750px) {
  .section-spacing {
    margin-top: 40px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
